{% load custom_tags %}
<div class="container" id="popularContent">
    <div class="row justify-content-center">
        <div class="col-12">
            {% for story in stories %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'story:detail-story' story.slug %}" class="text-dark" style="text-decoration: none;">{{ story.title }}</a></h5>
                  <p class="card-text"><a href="{% url 'story:detail-story' story.slug %}" class="text-dark" style="text-decoration: none;">{{ story.content | truncatewords:20 }}</a></p>
                  <span class="text-secondary text-secondary">{{ story.slug | story_rate  }}</span>
                  <span class="text-secondary">| author: {{ story.author }}</span>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-secondary" hx-target="#popularContent" hx-get="popular-stories/?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="false">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
          <li class="page-item"><a class="page-link text-secondary" hx-target="#popularContent" hx-get="popular-stories/?page=1">1</a></li>
          <li class="page-item disabled"><a class="page-link fw-bold text-secondary" href="#">{{ page_obj.number }}</a></li>
          <li class="page-item"><a class="page-link text-secondary" hx-target="#popularContent" hx-get="popular-stories/?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
          {% if page_obj.has_next %}
          <li class="page-item">
              <a class="page-link text-secondary" hx-target="#popularContent" hx-get="popular-stories/?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="false">Next</a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {% endif %}
        </ul>
    </nav>
</div>