{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Detail{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h5 class="text-center">{{ story.title }}</h5>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{ story.title }}</strong></h5>
                  <p class="card-text">{{ story.content }}</p>
                  <hr>
                  {% if attachment_stories %}
                  {% for story in attachment_stories %}
                  <p class="card-text"><strong>{{ story.title }}</strong></p>
                  <p class="card-text">{{ story.content }}</p>
                  <span class="text-secondary">author: {{ story.author }}</span>
                  <hr>
                  {% endfor %}
                  {% endif %}
                      <div class="row">
                          <div class="col-auto">
                            <span class="text-secondary text-secondary">{{ story.slug | story_rate }}</span>
                            <span class="text-secondary">| author: {{ story.author }}</span>
                          </div>
                          <div class="col-auto">
                            <form>
                                <input type="hidden" name="story_rate" value="1">
                                <button type="button" id="likeButton" class="btn btn-default btn-sm text-secondary" hx-post="{% url 'story:rate' story.slug %}" hx-target="#likeButton" hx-swap="outerHTML">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                    </svg>
                                </button>
                            </form>
                          </div>
                          <div class="col-auto">
                            <form>
                                <input type="hidden" name="story_rate" value="-1">
                                <button type="button" id="dislikeButton" class="btn btn-default btn-sm text-secondary" hx-post="{% url 'story:rate' story.slug %}" hx-target="#dislikeButton" hx-swap="outerHTML">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                            </form>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h5 class="text-center">Characters</h5>
            {% for character in characters %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#character{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{ character.name }}
                </button>
                </h2>
                <div id="character{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>age: {{ character.age }} </p>
                    <p>species: {{ character.species }} </p>
                    <p>gender: {{ character.gender }} </p>
                    <p>review: {{ character.review }} </p>
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="col-8">
        <form action="{% url 'story:comment-create' story.slug %}" method="post">
            <div class="input-group mb-3">
                <input type="text" name="title" value="" class="form-control form-control-sm" placeholder="enter a title for continue the story" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2">Continue</button>
                {% csrf_token %}
            </div>
        </form>
    </div>
    <br>
    <div class="row jusitfy-content-center">
        <div class="col-12">
            {% for comment in comments %}
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'story:comment-detail' comment.slug %}" class="text-dark" style="text-decoration: none;">{{ comment.title }}</a></h5>
                <p class="card-text"><a href="{% url 'story:comment-detail' comment.slug %}" class="text-dark" style="text-decoration: none;">{{ comment.content | truncatewords:20 }}</a></p>
                </div>
                <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <span class="text-secondary text-secondary">{{ comment.slug | comment_rate }}</span>
                        <span class="text-secondary">| author: {{ comment.author }}</span>
                    </div>
                    <div class="col-auto">
                        <form>
                            <input type="hidden" name="comment_rate" value="1">
                            <button type="button" id="c{{forloop.counter}}commentlikeButton" class="btn btn-default btn-sm text-secondary" hx-post="{% url 'story:rate' comment.slug %}" hx-target="#c{{forloop.counter}}commentlikeButton" hx-swap="outerHTML">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                </svg>
                            </button>
                        </form>
                      </div>
                      <div class="col-auto">
                        <form>
                            <input type="hidden" name="comment_rate" value="-1">
                            <button type="button" id="c{{forloop.counter}}commentdislikeButton" class="btn btn-default btn-sm text-secondary" hx-post="{% url 'story:rate' comment.slug %}" hx-target='#c{{forloop.counter}}commentdislikeButton' hx-swap="outerHTML">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </form>
                      </div>
                </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}